/*Styling the Navbar*/
.nav-bar-styl {
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  background-color: #e6ddc6;
  display: flex;
  justify-content: space-around;
  padding: 0%;
}

.nav-bar-brand-styl {
  font-size: 40px;
  font-weight: bold;
}
